@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wght@200;300;400&display=swap');

.hero {
    background-image: url("../images/carter-hero.jpg");
    /* opacity: 0.6; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* position: relative; */
}

.bg-opacity {
    position: absolute;
    background-color: black;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
}

.hero-title {
    position: absolute;
    top: 30vh;
    left: 5vh;
    display: flex;
    flex-direction: column;
    z-index: 999;
}

.title-text h1 {
    font-size: 5.9rem;
    font-weight: 300;
    text-transform: uppercase;
    font-family: 'Noto Serif Display', serif;
    letter-spacing: -.10ch;
    text-shadow: 1px 1px 1px rgb(10, 10, 10);
}

.title-text .title-description {
    font-size: 1.05rem;
    margin-bottom: 1.5rem;
    max-width: 800px;
    text-shadow: 1px 1px 1px rgb(10, 10, 10);
}

.title-buttons {
    display: flex;
    gap: .5rem;
}

.hero-btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    background-color: #f5f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s linear;
    font-weight: bold;
}

.hero-btn:hover {
    cursor: pointer;
    scale: 1.04;
}

.hero-btn i {
    margin-right: 10px;
}

.info-btn {
    background-color: #6e6b6bc6;
    color: #e5e5e5;
    font-weight: normal;
}

@media all and (max-width: 700px) {
    .title-text h1 {
        font-size: 4rem;
        text-shadow: 1px 1px 1px rgb(10, 10, 10);
    }
    
    .title-text .title-description {
        font-size: .9rem;
        margin-bottom: 1.5rem;
        max-width: 450px;
        text-shadow: 1px 1px 1px rgb(10, 10, 10);
    }
}