.movies-slider {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    z-index: 99999;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}
.all-buttons {
    z-index: 9999;
    margin-left: 30px;
    margin-bottom: 1rem;
    color: #e5e5e5;
    text-shadow: 2px 2px 1px black;
    transition: all 0.5s ease;
    user-select: none;
    width: fit-content;
}

.all-buttons:hover {
    color: #a39f9f;
    /* cursor: pointer; */
}

/* .one-button {
    color: #e5e5e5;
    font-size: 1rem;
    text-shadow: 2px 2px 1px black;
    background-color: transparent;
    border: none;
    margin: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.one-button:hover {
    color: #a39f9f;
} */
.movies-and-buttons {
    position: relative;
}

.arrow-button {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    cursor: pointer;
    transition: all 0.5s ease;
    color: #e5e5e561;
}

.arrow-button:hover {
    color: #4d4747;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.all-movies {
    display: flex;
    flex-direction: row;
    gap: .5rem;
    z-index: 9999;
    /* overflow-x: auto; */
}

.one-movie {
    width: 300px;
    text-align: center;
    height: 100%;
    position: relative;
    transition: all 0.5s ease;
}

.one-movie:hover {
    scale: 1.3;
    z-index: 999;
    cursor: pointer;
    overflow-x: auto;
}

.one-movie h3 {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(234, 230, 211);
    text-shadow: 2px 2px 2px black;
    user-select: none;
    display: none;
}