.movies-slider {
    position: relative;
}

.one-button {
    width: fit-content;
    margin-left: 2.5%;
    margin-bottom: 15px;
    user-select: none;
    transition: all 0.5s ease;
}

.one-button:hover {
    color: rgb(153, 152, 152);
}

.slider-wrapper {
    width: 95%;
    margin: 0 auto;
    position: relative;
}


.arrow-button {
    position: absolute;
    top: 50%;
    font-size: 3rem;
    color: black;
    cursor: pointer;
    transition: all 0.5s ease;
    transform: translateY(-50%);
    z-index: 9999;
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}
.arrow-button:hover {
    color: rgb(51, 50, 50);
}

.movies-list {
    /* display: grid;
    grid-template-columns: repeat(14, 1fr); */
    display: flex;
    gap: 5px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
}

.one-movie {
    width: 250px;
    height: 180px;
    transition: all 0.5s ease;
}
.one-movie:hover {
    scale: 1.4;
    z-index: 999;
}