@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style-type: none;
    user-select: none;
}

li{
    list-style-type: none;
}

body {
    background-color: #141414;
    color: #e5e5e5;
    font-family: 'Inter', sans-serif;
}

.movie-sliders {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    bottom: -70vh;
}